[Unit]
Description=Springboot Batch Job - %I

Requires=network-online.target time-sync.target
After=network-online.target time-sync.target basic.target

DefaultDependencies=yes

[Service]
Type=oneshot

PrivateTmp=true
ProtectSystem=true
PrivateDevices=true

User=springbatch
Group=springbatch

WorkingDirectory=/opt/springbatch/%I
EnvironmentFile=/opt/springbatch/%I/env

ExecStartPre=/opt/springbatch/bin/springbatch-service.sh %I cleanup
ExecStartPre=/opt/springbatch/bin/springbatch-service.sh %I precheck

ExecStart=/opt/springbatch/bin/springbatch-service %I start

ExecStopPost=/opt/springbatch/bin/springbatch-service.sh %I cleanup

TimeoutStartSec=1200s
TimeoutStopSec=120s

SuccessExitStatus=1 143

[Install]
