############################################################################
#
#	Springbatch SELinux policymodule
#
#	https://github.com/hubertqc/selinux_springbatch
#
#
# Copyright (c) 2022 H. Quarantel-Colombani <hubert@quarantel.name>
# Author: Hubert Quarantel-Colombani <hubert@quarantel.name>
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of version 2 of the GNU General Public License as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
############################################################################

policy_module(springbatch, 0.1.0)

########################################
#
#	Types and attributes declarations
#
########################################

attribute	springbatch_file_type;
attribute	springbatch_consumed_svc_type;

systemd_domain_template(springbatch)

type		springbatch_conf_t;
typeattribute	springbatch_conf_t	springbatch_file_type;
files_config_file(springbatch_conf_t)

type		springbatch_auth_t;
typeattribute	springbatch_auth_t	springbatch_file_type;
files_auth_file(springbatch_auth_t)

type		springbatch_log_t;
typeattribute	springbatch_log_t	springbatch_file_type;
logging_log_file(springbatch_log_t)

type		springbatch_var_t;
typeattribute	springbatch_var_t	springbatch_file_type;
files_type(springbatch_var_t)

type 		springbatch_run_t;
typeattribute	springbatch_run_t	springbatch_file_type;
files_type(springbatch_run_t)

type		springbatch_bin_t;
typeattribute	springbatch_bin_t	springbatch_file_type;
application_executable_file(springbatch_bin_t)

type		springbatch_lib_t;
typeattribute	springbatch_lib_t	springbatch_file_type;
files_type(springbatch_lib_t)

type		springbatch_tmp_t;
typeattribute	springbatch_tmp_t	springbatch_file_type;
files_tmp_file(springbatch_tmp_t)

type		springbatch_unit_file_t;
systemd_unit_file(springbatch_unit_file_t);

bool	allow_springbatch_purge_logs		false;
bool	allow_webadm_read_springbatch_files	false;
bool	allow_sysadm_write_springbatch_files	false;

gen_require(`
	type	http_port_t;

	type	proc_t;
	type	proc_net_t;
	type	sysfs_t;
	type	fs_t;
	type	sysctl_net_t;

	type	bin_t;
	type	tmp_t;
	type	shell_exec_t;
	type	passwd_file_t;
	type	cert_t;

	type	user_tmp_t;
	type	user_home_dir_t;

	type	sysadm_t;
	type	logadm_t;
	type	webadm_t;

	role	system_r;
	
	attribute	domain;
')

########################################
#
#	Policy for springbatch_t domain
#
########################################

role	system_r	types	springbatch_t;

mcs_constrained(springbatch_t)

#
## Allow generic usage of the host
#

corecmd_read_bin_files(springbatch_t)
corecmd_exec_all_executables(springbatch_t)
files_exec_usr_files(springbatch_t)
files_exec_etc_files(springbatch_t)
files_search_locks(springbatch_t)
files_read_var_files(springbatch_t)
files_read_var_symlinks(springbatch_t)
files_read_generic_spool(springbatch_t)
files_read_var_lib_files(springbatch_t)
files_getattr_lost_found_dirs(springbatch_t)
files_read_config_files(springbatch_t)
fs_read_noxattr_fs_files(springbatch_t)
fs_read_noxattr_fs_symlinks(springbatch_t)
fs_rw_cgroup_files(springbatch_t)
application_getattr_socket(springbatch_t)

dev_read_rand(springbatch_t)

logging_send_syslog_msg(springbatch_t)
logging_send_audit_msgs(springbatch_t)

#
##	Permissions on self resources
#

allow	springbatch_t	self:capability	{ chown	dac_override dac_read_search fowner fsetid kill };
allow	springbatch_t	self:process	{ signal_perms setsockcreate execmem execstack };
allow	springbatch_t	self:fifo_file	rw_fifo_file_perms;
allow	springbatch_t	self:file	{ getattr read };
allow	springbatch_t	self:sem	create_sem_perms;
allow	springbatch_t	self:shm	create_shm_perms;

allow	springbatch_t	self:tcp_socket			create_stream_socket_perms;
allow	springbatch_t	self:udp_socket			create_stream_socket_perms;
allow	springbatch_t	self:unix_dgram_socket		create_socket_perms;
allow	springbatch_t	self:unix_stream_socket		{ create_stream_socket_perms connectto };
allow	springbatch_t	self:netlink_selinux_socket	create_socket_perms;
allow	springbatch_t	self:netlink_route_socket	{ bind create getattr nlmsg_read };

#
##	Permission on other system resources
#

allow	springbatch_t	sysctl_net_t:dir	search;
allow	springbatch_t	sysctl_net_t:file	{ getattr open read };

allow	springbatch_t	fs_t:filesystem		{ getattr };

allow	springbatch_t	sysfs_t:dir		{ getattr search open read };

allow	springbatch_t	proc_t:dir		list_dir_perms;
allow	springbatch_t	proc_t:file		{ read open getattr };

allow	springbatch_t	proc_net_t:file		{ read open getattr };

allow	springbatch_t	bin_t:file		exec_file_perms;

allow	springbatch_t	tmp_t:dir		{ rw_dir_perms create rmdir };
allow	springbatch_t	tmp_t:file		{ manage_file_perms execute };

allow	springbatch_t	user_tmp_t:dir		rw_dir_perms;
allow	springbatch_t	user_tmp_t:file		{ manage_file_perms map };

allow	springbatch_t	user_home_dir_t:dir	{ list_dir_perms };

allow	springbatch_t	passwd_file_t:file	{ read	open	getattr };
allow	springbatch_t	shell_exec_t:file	{ getattr	open	read	execute};

allow	springbatch_t	cert_t:dir		list_dir_perms;
allow	springbatch_t	cert_t:file		read_file_perms;
allow	springbatch_t	cert_t:lnk_file		read_lnk_file_perms;

#
##	Permissions	on	Springboot	specific	resources
#

#	Allow	to	perform	network	operations

allow	springbatch_t	http_port_t:tcp_socket			name_connect;

#	Allow to consume authorized network services
allow	springbatch_t	springbatch_consumed_svc_type:tcp_socket		name_connect;
allow	springbatch_t	springbatch_consumed_svc_type:udp_socket		{ recv_msg send_msg };


#	Permissions	on	Springboot	specific	files/dirs

allow	springbatch_t	springbatch_file_type:dir		list_dir_perms;
allow	springbatch_t	springbatch_file_type:file		read_file_perms;
allow	springbatch_t	springbatch_file_type:lnk_file	read_lnk_file_perms;

allow	springbatch_t	springbatch_bin_t:file		exec_file_perms;
allow	springbatch_t	springbatch_lib_t:file		map;

allow	springbatch_t	springbatch_exec_t:file		exec_file_perms;

allow	springbatch_t	springbatch_var_t:dir		manage_dir_perms;
allow	springbatch_t	springbatch_var_t:file		manage_file_perms;
allow	springbatch_t	springbatch_var_t:lnk_file	manage_lnk_file_perms;
filetrans_add_pattern(springbatch_t,	springbatch_var_t,	springbatch_var_t,	{ dir notdevfile_class_set } )

allow	springbatch_t	springbatch_run_t:dir		manage_dir_perms;
allow	springbatch_t	springbatch_run_t:file		manage_file_perms;
allow	springbatch_t	springbatch_run_t:lnk_file	manage_lnk_file_perms;
allow	springbatch_t	springbatch_run_t:sock_file	{ create_sock_file_perms rw_sock_file_perms };
allow	springbatch_t	springbatch_run_t:fifo_file	{ create_fifo_file_perms rw_fifo_file_perms };

filetrans_add_pattern(springbatch_t,	springbatch_run_t,	springbatch_run_t,	{ dir notdevfile_class_set } )

allow	springbatch_t	springbatch_tmp_t:dir		manage_dir_perms;
allow	springbatch_t	springbatch_tmp_t:file		{ manage_file_perms map };
allow	springbatch_t	springbatch_tmp_t:lnk_file	manage_lnk_file_perms;
filetrans_add_pattern(springbatch_t,	springbatch_tmp_t,	springbatch_tmp_t,	{ dir notdevfile_class_set } )
filetrans_add_pattern(springbatch_t,	tmp_t,			springbatch_tmp_t,	dir,				"hsperfdata_springbatch" )

allow	springbatch_t	springbatch_log_t:dir		add_entry_dir_perms;
allow	springbatch_t	springbatch_log_t:file		{ create_file_perms append_file_perms read_file_perms };
logging_log_filetrans(springbatch_t,	springbatch_log_t,	{ file	dir }	)

if	(allow_springbatch_purge_logs)	{
	allow	springbatch_t	springbatch_log_t:dir	rw_dir_perms;
	allow	springbatch_t	springbatch_log_t:file	{ rename_file_perms delete_file_perms };
}

dontaudit	springbatch_t	domain:dir	getattr;
dontaudit	springbatch_t	domain:file	getattr;

#
##	Permissions for Sys admins (sysadm_t)
#

allow	sysadm_t	springbatch_file_type:dir	list_dir_perms;
allow	sysadm_t	springbatch_file_type:file	getattr_file_perms;
allow	sysadm_t	springbatch_file_type:lnk_file	read_lnk_file_perms;

allow	sysadm_t	springbatch_bin_t:file		exec_file_perms;

allow	sysadm_t	springbatch_conf_t:file		read_file_perms;
allow	sysadm_t	springbatch_var_t:file		read_file_perms;
allow	sysadm_t	springbatch_run_t:file		read_file_perms;
allow	sysadm_t	springbatch_tmp_t:file		read_file_perms;
allow	sysadm_t	springbatch_lib_t:file		read_file_perms;
allow	sysadm_t	springbatch_log_t:file		read_file_perms;
allow	sysadm_t	springbatch_exec_t:file		read_file_perms;


allow	sysadm_t	springbatch_unit_file_t:file	read_file_perms;
allow	sysadm_t	springbatch_unit_file_t:service	manage_service_perms;

if	(allow_sysadm_write_springbatch_files)	{
	allow	sysadm_t	springbatch_tmp_t:dir	rw_dir_perms;
	allow	sysadm_t	springbatch_log_t:dir	del_entry_dir_perms;
	allow	sysadm_t	springbatch_conf_t:dir	del_entry_dir_perms;
	allow	sysadm_t	springbatch_run_t:dir	del_entry_dir_perms;

	allow	sysadm_t	springbatch_run_t:file	{ delete_file_perms	rename_file_perms };
	allow	sysadm_t	springbatch_tmp_t:file	manage_file_perms;
	allow	sysadm_t	springbatch_log_t:file	{ delete_file_perms	rename_file_perms };
	allow	sysadm_t	springbatch_conf_t:file	write_file_perms;
}

#
##	Permissions for Web admins (webadm_t)
#

allow	webadm_t	springbatch_file_type:dir	list_dir_perms;
allow	webadm_t	springbatch_file_type:file	getattr_file_perms;
allow	webadm_t	springbatch_file_type:lnk_file	read_lnk_file_perms;

allow	webadm_t	springbatch_unit_file_t:file	read_file_perms;
allow	webadm_t	springbatch_unit_file_t:service	{ stop	start	status };

if	(allow_webadm_read_springbatch_files)	{
	allow	webadm_t	springbatch_conf_t:file	read_file_perms;
	allow	webadm_t	springbatch_log_t:file	read_file_perms;
	allow	webadm_t	springbatch_run_t:file	read_file_perms;
	allow	webadm_t	springbatch_tmp_t:file	read_file_perms;
}

