############################################################################
#
#	Springbatch SELinux policymodule
#
#	https://github.com/hubertqc/selinux_springbatch
#
#
# Copyright (c) 2022 H. Quarantel-Colombani <hubert@quarantel.name>
# Author: Hubert Quarantel-Colombani <hubert@quarantel.name>
#
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of version 2 of the GNU General Public License as
# published by the Free Software Foundation.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
#
############################################################################

########################################
## <summary>
##      Authorize Springboot batch job to connect to remote port
## </summary>
## <param name="service">
##      <summary>
##      The service name prefix to allow connection to (TCP).
##	e.g.: ldap
##      </summary>
## </param>
#
interface(`springbatch_allow_connectto',`
	gen_require(`
		type		$1_port_t;
	')
	
	allow	springbatch_t	$1_port_t:tcp_socket	name_connect;
')

########################################
## <summary>
##      Add service to services Springboot batch job
##	is allowed to connnect to
## </summary>
## <param name="service">
##      <summary>
##      The service name prefix to allow connection to (TCP).
##	e.g.: ldap
##      </summary>
## </param>
#
interface(`springbatch_allow_consumed_service',`
	gen_require(`
		type		$1_port_t;
		attribute	springbatch_consumed_svc_type;
	')
	
	typeattribute	$1_port_t	springbatch_consumed_svc_type;
')