Source: springbatch-selinux
Maintainer: LHQG SAS <technical@lhqg.fr>
Homepage: https://github.com/lhqg/selinux_springbatch
Section: Misc
Priority: optional
Standards-Version: 4.7.0
Build-depends: debhelper-compat (= 13), selinux-policy-dev

Package: springbatch-selinux
Architecture: all
Depends: policycoreutils, selinux-utils, selinux-basics
Description: SELinux policy module for Java Spring batchs/jobs
